<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.korchid.msg">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".global.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".alarm.AlarmMatchingBroadCastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".mqtt.ChattingBroadCastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".mqtt.service.MqttService"
            android:process=":MqttSubProcess" />

        <!-- [START fcm_default_icon] -->
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorTransparent" />
        <!-- [END fcm_default_icon] -->


        <!-- [START firebase_service] -->
        <service android:name=".firebase.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".firebase.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:configChanges="orientation|keyboardHidden" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity" />
        <activity
            android:name=".activity.ChattingActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.MessageSettingActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.InviteActivity" />
        <activity android:name=".activity.ReserveActivity" />
        <activity android:name=".activity.DBTest" />
        <activity android:name=".activity.ProfileActivity" />
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <activity android:name=".activity.AuthPhoneActivity" />
        <activity android:name=".activity.AuthPhoneWaitActivity" />

        <activity
            android:name=".activity.MyAlert"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".activity.KakaoLinkActivity" />
        <activity android:name=".activity.JoinPhoneActivity" />
        <activity android:name=".activity.LoginPhoneActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.FindPasswordActivity" />
        <activity android:name=".activity.InPersonMessageSettingActivity" />
        <activity
            android:name=".activity.SelectOpponentActivity"
            android:label="@string/title_activity_select_opponent"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>